---
//import { log } from "astro/dist/core/logger/core";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

// import "../styles/global.css";
---

<!-- <BaseLayout>
  <h1>{frontmatter.title}</h1> -->
<BaseLayout pageTitle={frontmatter.title}>
  <h2>{frontmatter.description}</h2>
  <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
  <figure>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    {
      frontmatter.image.source && (
        <figcaption>{frontmatter.image.source}</figcaption>
      )
    }
  </figure>
  <p>Written by {frontmatter.author}</p>
  <ul>
    {frontmatter.tags.map((tag: String) => <li>{tag}</li>)}
  </ul>
  <slot />
</BaseLayout>
